{% include "header.html" %}


<body data-spy="scroll" data-target=".navbar" data-offset="51">

    <!-- Video Modal Start -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->


    <!-- Header Start -->
    <div class="container-fluid bg-primary d-flex align-items-center mb-5 py-5" id="home" style="min-height: 100vh;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 px-5 pl-lg-0 pb-5 pb-lg-0">
                    <img class="img-fluid w-100 rounded-circle shadow-sm" src="static/img/about_me.png" alt="">
                </div>
                <div class="col-lg-7 text-center text-lg-left">
                    <h3 class="text-white font-weight-normal mb-3">I'm</h3>
                    <h1 class="display-3 text-uppercase text-primary mb-2" style="-webkit-text-stroke: 2px #ffffff;">
                        Debojyoti</h1>
                    <h1 class="typed-text-output d-inline font-weight-lighter text-white"></h1>
                    <div class="typed-text d-none">Data Scientist, AI/ML Engineer, Data Analyst, Python Developer</div>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                        <a href="./static/Resume/Debojyoti_Chattoraj_Resume_2024_01.pdf"
                            class="btn btn-outline-light mr-5">Download CV</a>
                        <button type="button" class="btn-play" data-toggle="modal"
                            data-src="https://www.youtube.com/embed/IFMDMCrN-_s" data-target="#videoModal">
                            <span></span>
                        </button>
                        <h5 class="font-weight-normal text-white m-0 ml-4 d-none d-sm-block">Play Video</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5" id="about">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
                <h1 class="position-absolute text-uppercase text-primary">About Me</h1>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <!-- <img class="img-fluid rounded w-100" src="static/img/about.jpg" alt=""> -->
                    <h6>Home Location</h6>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14567.667862473392!2d88.25291445842065!3d24.10441535071047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f97de6c9a4d9b1%3A0xb787f11de7d65079!2sKhagra%2C%20Berhampore%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1729717200879!5m2!1sen!2sin" width="400" height="215" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    <h6>Work Location</h6>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.870835187873!2d77.669796874472!3d12.851618087452824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6d27f79afe6b%3A0xc60ee40ef865c864!2sJanani%20Nivas!5e0!3m2!1sen!2sin!4v1730219946027!5m2!1sen!2sin" width="400" height="215" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-lg-7">
                    <h3 class="mb-4">Data Scientist & AI/ML Engineer</h3>
                    <p>Meet Debojyoti Chattoraj, a dynamic professional who embarked on his career as an Analytical Chemist in the pharmaceutical industry. Driven by an insatiable curiosity and passion for innovation, he transitioned into the realm of Data Science, Artificial Intelligence and Machine Learning. With a rich background in chemistry, he meticulously acquired a diverse range of skills that now fuel his expertise in Data Science and Artificial Intelligence, making him a unique blend of analytical precision and technological prowess.</p>
                    <div class="row mb-3">
                        <div class="col-sm-6 py-2">
                            <h6>Name: <span class="text-secondary">Debojyoti Chattoraj</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Birthday: <span class="text-secondary">25 March 1995</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Degree: <span class="text-secondary">Bachelor</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Experience: <span class="text-secondary">6 Years</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Phone: <span class="text-secondary">+91 8900731996</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Email: <span class="text-secondary">debojyotichattoraj1996@gmail.com</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Address: <span class="text-secondary">13, Ramlal Mukherjee Lane, Khagra, Berhampore,
                                    Murshidabad, Pin - 742103</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Freelance: <span class="text-secondary">Available</span></h6>
                        </div>
                    </div>
                    <a href="" class="btn btn-outline-primary mr-4">Hire Me</a>
                    <a href="" class="btn btn-outline-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Qualification Start -->
    <div class="container-fluid py-5" id="qualification">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
                <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h3 class="mb-4">My Education
                        {%if logged_in:%}
                        <a href="{{url_for('update_education')}}">+</a>
                        {%endif%}
                    </h3>

                    <div class="border-left border-primary pt-2 pl-4 ml-2">
                        {% for qualification in qualifications %}
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute"
                                style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1">{{qualification.exam}}</h5>
                            <p class="mb-2"><strong>{{qualification.institute}}</strong> |
                                <small>{{qualification.year}}</small>
                            </p>
                            <p class="mb-2"><strong>{{qualification.university}}</strong>
                            <p>{{qualification.description |safe}}</p>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="mb-4">My Expericence
                        {%if logged_in:%}
                        <a href="{{ url_for('update_experience') }}">+</a>
                        {%endif%}
                    </h3>
                    <div class="border-left border-primary pt-2 pl-4 ml-2">
                        {% for experience in experiences %}
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute"
                                style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1">{{experience.position}}</h5>
                            {% if experience.present == True %}
                            <p class="mb-2"><strong>{{experience.company}}</strong> | <small>{{experience.joining_date}}
                                to Present</small></p>
                            {% else %}
                            <p class="mb-2"><strong>{{experience.company}}</strong> | <small>{{experience.joining_date}}
                                    to {{experience.exit_date}}</small></p>
                            {%endif%}
                            <p>{{experience.job_description |safe}}</p>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Qualification End -->


    <!-- Skill Start -->
    <div class="container-fluid py-5" id="skill">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Skills</h1>
                <h1 class="position-absolute text-uppercase text-primary">My Skills</h1>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="skill mb-4" data-toggle="tooltip" title="Flask, Pandas, Numpy, Matplotlib, Seaborn">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">Python</h6>
                            <h6 class="font-weight-bold">75%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="skill mb-4" data-toggle="tooltip" title="Joins, Queries & Subqueries, Aggregations, Views, CTE">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">SQL</h6>
                            <h6 class="font-weight-bold">80%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="skill mb-4" data-toggle="tooltip" title="Semantic HTML, Bootstrap, Multimedia, Responsive Design, Linking">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">HTML</h6>
                            <h6 class="font-weight-bold">75%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="skill mb-4" data-toggle="tooltip" title="Responsive Design, Flexbox & Grid, Animations & Transitions, Bootstrap">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">CSS</h6>
                            <h6 class="font-weight-bold">70%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="skill mb-4" data-toggle="tooltip" title="Data Modeling, Data Preparation, Data Visualization, DAX (Data Analysis Expressions), Power Query">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">Power BI</h6>
                            <h6 class="font-weight-bold">65%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="skill mb-4" data-toggle="tooltip" title="Advanced Formulas and Functions, Data Visualization, Macros and VBA">
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-bold">Excel</h6>
                            <h6 class="font-weight-bold">85%</h6>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Skill End -->



    <!-- Portfolio Start -->
    <div class="container-fluid pt-5 pb-3" id="portfolio">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Gallery</h1>
                <h1 class="position-absolute text-uppercase text-primary">My Portfolio</h1>
            </div>
            <div class="row">
                <div class="col-12 text-center mb-2">
                    <ul class="list-inline mb-4" id="portfolio-flters">
                        <li class="btn btn-sm btn-outline-primary m-1 active" data-filter="*">All</li>
                        <li class="btn btn-sm btn-outline-primary m-1" data-filter=".Data_Analytics">Data Analytics</li>
                        <li class="btn btn-sm btn-outline-primary m-1" data-filter=".Data_Science">Data Science</li>
                        <li class="btn btn-sm btn-outline-primary m-1" data-filter=".Web_Development">Web Development
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row portfolio-container">
                {% for project in projects %}
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item {{project.category}}">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-100 custom-h" src="{{project.image}}" alt="">
                        <div
                            class="portfolio-btn bg-primary d-flex flex-column align-items-center justify-content-center">
                            <div class="mb-2 text-white">{{project.title}}</div>
                            <div>
                                <a href="{{url_for('project', project_id = project.id)}}">
                                    <i class="fa text-white" style="font-size: 30px;">👁️</i>
                                </a>
                                {%if logged_in:%}
                                <a href="{{url_for('edit_project', project_id = project.id)}}">
                                    <i class="fa  text-white" style="font-size: 30px;">✒️</i>
                                </a>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
                {%if logged_in:%}
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-100 custom-h" src="static/img/portfolio-2.jpg" alt="">
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a href="{{url_for('update_portfolio')}}">
                                <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {%endif%}

            </div>
        </div>
    </div>
    <!-- Portfolio End -->



    <!-- Certificates Start -->
    <div class="container-fluid pt-5" id="blog">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Certificates
                </h1>
                <h1 class="position-absolute text-uppercase text-primary">Awards & Certificates</h1>
            </div>
            <div class="row">
                {% for certificate in certificates %}
                <div class="col-lg-4 mb-5">
                    <div class="position-relative mb-4">
                        <img class="img-fluid rounded w-100" src="{{certificate.image}}" alt="" style="height: 270px;">

                    </div>
                    <h6 class="font-weight-medium mb-4">{{certificate.title}}
                    </h6>

                </div>
                {%endfor%}

                {%if logged_in:%}
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative overflow-hidden mb-2">
                        <img class="img-fluid rounded w-100" src="static/img/portfolio-2.jpg" alt=""
                            style="height: 270px;">
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a href="{{url_for('update_certificate')}}">
                                <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {%endif%}

            </div>
        </div>
    </div>
    <!-- Certificates End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5" id="contact">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Contact</h1>
                <h1 class="position-absolute text-uppercase text-primary">Contact Me</h1>
            </div>
            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p class="text-center text-green" style="font-size: 20px;">{{message}}</p>
                {%endfor%}
                {%endif%}
                {%endwith%}
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form text-center">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post"
                            action="{{ url_for('contact') }}">
                            <div class="form-row">
                                <div class="control-group col-sm-6">
                                    <input type="text" class="form-control p-4" id="name" placeholder="Your Name"
                                        required="required" data-validation-required-message="Please enter your name"
                                        name="name" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group col-sm-6">
                                    <input type="email" class="form-control p-4" id="email" placeholder="Your Email"
                                        required="required" data-validation-required-message="Please enter your email"
                                        name="email" />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control p-4" id="subject" placeholder="Subject"
                                    required="required" data-validation-required-message="Please enter a subject"
                                    name="subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control py-3 px-4" rows="5" id="message" placeholder="Message"
                                    required="required" data-validation-required-message="Please enter your message"
                                    name="message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-outline-primary" type="submit" id="sendMessageButton">Send
                                    Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    {% include "footer.html" %}